.dialogsBlock__search {
    grid-area: search;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.dialogsBlock__search input{
    margin-left: 3px;
    height: 28px;
    width: 180px;
    padding: 0 15px;
    line-height: 48px;
    color: #808080;
    font-weight: 400;
    border: none;
    background-color: #e5e7eb;
}

.dialogsBlock__search img{
    width: 15px;
    height: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.inputBlock{
    display: flex;
    align-items: center;
    color: #666;
    font-size: 15px;
    line-height: 27px;

    background-color: #e5e7eb;
    border-radius: 4px;
    margin: 0 5px;
}
