.app-wrapper {
  display: grid;

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

  grid-template-areas:
    "head head"
    "nav main"
  ;
}

.app-wrapper-content{
  grid-area: main;
  background-color: blue;

  margin: 0 auto;
}